# build dir
/target
/classes

# bin
/lib
/checkouts
*.jar
*.class

# data
/db.sq3

# logs
*.log

# ide specific files
/.nrepl-port
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env

# temporary ide files
.\#*