.agent-list {
    margin-bottom: 90px;
}

.agent-container {
    padding: 0
}

.agent__row {
    cursor: pointer;
    padding: 10px 15px;
}

.agent__checkbox {
    vertical-align: text-bottom;
}

.agent__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.filter-panel {
    margin-top: 10px;
}

.filter-selection-link {
    margin-right: 10px;
}

.agent__name {
    width: 20%;
}

.agent__status {
    width: 60%;
}

.stacktrace {
    padding: 16px 32px;
    white-space: pre;
    overflow: scroll;
    color: black;
    display: block;
    padding: 0px 16px;
}

.stacktrace:hover {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.stacktrace_link:hover {
    text-decoration: none;
}

.multi-action-toolbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.multi-action-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-top-style: solid;
}

.facebook-loader {
    display: block;
    margin: 0 auto;
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon.github-fork-custom-styles{
    /*background-color: #337ab7;*/
    background-color: #e7e7e7;
    top: 75px;
    right: -42px;
}

.current_problem_item {
    word-break: break-all;
}

.current_problems_pages {
    /*   word-break: break-all; */
    overflow: normal;
}

.current_problems_page {
    padding-right: 16px;
}

.copy-icon {
    padding-right: 10px;
}

.project-link {
    padding-left: 16px;
}

.branches {
    padding-left: 16px;
}

.test-actions {
    white-space: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.test-action {
    position: relative;
    width: 5%;
    display: inline-block;
    padding-right: 32px;
}

.build-link {
    display: inline-block;
}

.test-name {
    flex-grow: 12;
}

.copy-test-name-icon {
    top: 2px;
    background-image: url("/img/copy.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.copy-stack-icon {
    top: 2px;
    background-image: url("/img/stack.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.test-history-icon {
    top: 2px;
    background-image: url("/img/clock.png");
    width: 16px;
    height: 16px;
}

.hint-placeholder {
    position: relative;
}

.hint {
    position: absolute;
    padding: 2px 5px;
    background-color: black;
    color: white;
    font-size: 10px;
    border-radius: 4px;
}

.icon-hint {
    top: -125%;
    left: 50%;
    transform: translate(-50%, 0);
}