.agent-list {
    margin-bottom: 70px;
}

.agent__row {
    cursor: pointer;
    padding: 10px 15px;
}

.agent__checkbox {
    vertical-align: text-bottom;
}

.agent__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
    vertical-align: middle;
}

.filter-panel {
    margin-top: 10px;
}

.filter-selection-link {
    margin-right: 10px;
}

.agent__name {
    width: 20%;
}

.agent__status {
    width: 70%;
}

.multi-action-toolbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.multi-action-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-top-style: solid;
}