.agent-list {
    margin-bottom: 90px;
}

.agent-container {
    padding: 0
}

.agent__row {
    cursor: pointer;
    padding: 10px 15px;
}

.agent__checkbox {
    vertical-align: text-bottom;
}

.agent__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.filter-panel {
    margin-top: 10px;
}

.filter-selection-link {
    margin-right: 10px;
}

.agent__name {
    width: 20%;
}

.agent__status {
    width: 60%;
}

.stacktrace {
    padding: 16px 32px;
    white-space: pre;
    overflow: scroll;
    color: black;
    display: block;
    padding: 0px 16px;
}

.stacktrace:hover {
    text-decoration: none;
}

.stacktrace_link:hover {
    text-decoration: none;
}

.multi-action-toolbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.multi-action-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-top-style: solid;
}

.facebook-loader {
    display: block;
    margin: 0 auto;
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon.github-fork-custom-styles{
    /*background-color: #337ab7;*/
    background-color: #e7e7e7;
    top: 75px;
    right: -42px;
}

.current_problem_item {
    word-break: break-all;
}

.current_problems_pages {
    /*   word-break: break-all; */
    overflow: normal;
}

.current_problems_page {
    padding-right: 16px;
}

.copy_icon {
    padding-right: 10px;
}

.project-link {
    padding-left: 16px;
}

.branches {
    padding-left: 16px;
}

.single_problem {
    white-space: nowrap;
    overflow: hidden;
}